body {
	margin:0px auto;
	padding:0px 5px;
	max-width:720px;
	font-family:'Source Sans Pro', sans-serif;
	font-size:14px;
	background:#FFF;
	color:#635C5C;
	}

a {
	text-decoration:none;
	border:none;
	color:#8DB041;
	transition:0.2s all ease;
	}
a:hover {color:#E38089; cursor:pointer;}
.clr{clear:both;}



/* HEADER */
#head {margin:30px 0px 30px; font-size:20px;}
#head a {color:#635C5C;}
#bann {float:left;}
#nav {text-align:right;}
#nav a {margin-left:15px;}


/* LOG */
#log {margin-bottom:20px; border-top:1px dashed #7A7171; clear:left;}
.entry {padding:3px 0px; border-bottom:1px dashed #7A7171; overflow:auto;}
.date {font-family:'Courier New', monospace; font-size: 12px; color:#7C7373;}
img.egg {vertical-align:bottom; margin: 0px 8px;}
.ttl {color:#8DB041;}
.src {
	margin-top:2px;
	float:right;
	font-family:'Courier New', monospace;
	font-size: 11px;
	}
.src a {
	padding:0px 4px;
	border-radius:2px;
	background:#F1C0C5;
	color:#FFF;
	}
.src a:hover {background:#E38089;}
.post {margin:10px auto;}
	
	
/* FOOTER */
#foot {text-align:center; font-size:11px;}
